/* 全体の設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: black; /* 背景色を黒に変更 */
    color: white;
    height: 100vh; /* 画面の高さを100%に設定 */
    overflow: hidden; /* スクロールを無効化 */
}

/* グリッド全体の設定 */
.container {
    display: grid;
    grid-template-columns: 1fr 5.9fr 0.1fr 2fr 1fr; /* 列の比率 1:5:1:2:1 */
    grid-template-rows: 8fr 2fr; /* 行の比率 8:2 */
    gap: 10px; /* 要素間の余白 */
    height: 100vh; /* 画面全体の高さ */
}
  
/* 画像エリア */
.image {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 背景画像のサイズ設定 */
.image img {
    width: 100%; /* 幅を親要素に合わせて最大化 */
    height: auto; /* 高さは幅に合わせて自動調整 */
    max-width: 100%; /* 最大幅は親要素の100% */
    max-height: 100%; /* 最大高さは親要素の100% */
    object-fit: contain; /* アスペクト比を保ちながら収める */
    border: 2px solid white;
}

/* 最初は真っ暗な画面にする */
#dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    transition: opacity 3s ease-in-out; /* 徐々に透明になる */
    z-index: 10;
    display: block;
  }

/* フェードインのアニメーション */
.fade-in {
    display: block;
    opacity: 1;
    transition: opacity 2s ease-in;
  }
  
/* フェードインのアニメーション */
@keyframes fadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* 最終的に完全に表示される */
    }
}

#true-end-message {
    position: absolute;   /* 絶対配置 */
    top: 50%;              /* 親要素の中央（縦） */
    left: 50%;             /* 親要素の中央（横） */
    transform: translate(-50%, -50%); /* 自身の幅と高さの半分を引いて中央に */
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }


/* アイテムエリア */
.item-area {
    background-color: rgb(70, 65, 65);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列に配置 */
    grid-template-rows: repeat(5, 1fr); /* 5行に分けて配置 */
    gap: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    margin-top: 30px; /* 上に10pxの余白を追加 */
}

/* アイテム枠内の設定 */
.item-slot {
    display: flex; /* ゲーム開始時に非表示にする */
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 65, 65);
    border: 1px solid white;
    padding: 10px;
}

/* 画像設定 */
.item-slot img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}

/* テキストエリア */
.text-area {
    background-color: rgb(70, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
}

/* リセットボタン */
#resetButton {
    border: none;       /* 枠線を消す */
    padding: 10px 20px; /* ボタンの余白を調整 */
    background-color: black;
}

/* 余白用の要素 */
.spacer {
    background-color: black; /* 余白の色を黒に変更 */
}
